* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #04074b;
    color: #ffffff;
    padding: 20px 10px 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans';
}

header .logo-section {
    display: flex;
    align-items: center;
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin-right: 10px;
    vertical-align: middle;
}

header #dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;

    transition: transform 0.5s ease;
}

header #dark-mode-toggle:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
}

header .search-container {
    justify-content: center;
    margin: 0;
    width: 50%;
    padding-top: 5px;
}

header .search-container input {
    width: 70%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #45044c;
    border-radius: 18px;
    position: relative;
    z-index: 1;

    animation: ring 1.3s infinite alternate;
    transition: all 0.5s ease
}

@keyframes ring {
    0% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(2px);
    }
}

.pac-container {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: solid 2px #45044c;
}

.pac-item {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.6rem;
}

.pac-icon {
    border-radius: 12px;
    background-color: rgba(183, 0, 0, 0.8);
}

header .search-container input:focus {
    animation: none;
}

header .search-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
}

header .search-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    color: #ffffff;
    background-color: #45044c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.6s ease;
}

header .search-container button:hover {
    background-color: #ffffff;
    opacity: 0.8;
    color: black;
    transition: background-color 0.5s ease;

}

header .search-container button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 0;
}

main {
    background-color: #e6fcf8;
    color: #45044c;
    display: grid;
    grid-template-columns: 1fr 900px;
    gap: 20px;
    padding: 20px;
    align-items: start;

    transition: all 0.5s ease;
}

body .cards-container {
    display: block;
    justify-content: center;
    margin: 30px auto;
    margin-left: 40px;
    padding: 20px 30px;
    padding-bottom: 70px;
    border-radius: 35px;
    top: 60px;
    width: 110%;
    height: 75%;
    background-color: aliceblue;
    opacity: 0.9;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(10deg);
    transition: all 0.5s ease;

}

body .cards-container .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.3;
}


body .cards-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    text-align: center;
    color: #45044c;
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;

}

body .cards-container h3 {
    font-family: 'Lucida Sans';
    margin-top: 20px;
    color: #45044c;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 0.9 rem;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;

}

body .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

body .cards .card {
    color: #45044c;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    height: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

body .cards .card:hover {
    cursor: pointer;
    color: #0c4175;
    transform: translateY(-5px);
    transition: transform 0.6s ease;
}

body .cards h4 {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-family: 'Lucida Sans';
    margin-bottom: 10px;
    font-size: 1.4rem;
}

body .cards p {
    font-family: 'Lucida Sans';
    font-size: 1.1rem;
    text-align: center;
}

.cards .material-symbols-outlined {
    font-size: 2.1rem;
    margin-left: 45px;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    background-color: #8281c4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.cards #wind-direction-icon {
    margin-left: 90px;
}


body .map-container {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    margin-right: 40px;
    border-radius: 20px;
    border: solid 4px #04074b;
    width: 85%;
    height: 650px;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(-10deg);
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

