* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #04074b;
    color: #ffffff;
    padding: 20px 10px 20px;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans';
}

header .logo-section {
    display: flex;
    align-items: center;
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin-right: 10px;
    vertical-align: middle;
}

header #dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;

    transition: transform 0.5s ease;
}

header #dark-mode-toggle:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.8s ease;
}

header .search-container {
    justify-content: center;
    margin: 0;
    width: 50%;
    padding-top: 5px;
}

header .search-container input {
    width: 70%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #45044c;
    border-radius: 18px;
    position: relative;
    z-index: 1;

    animation: ring 1.3s infinite alternate;
    transition: all 0.5s ease
}

@keyframes ring {
    0% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(2px);
    }
}


